.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  .h1 {
    a {
      color: #AFA38F;
      text-decoration: none;
    }
  }

  .nav-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    
    .nav-item{
      color: #AFA38F;
      font-size: .9rem;
      margin-right: 1.3rem;
      text-decoration: none;
      
      &:hover{
        color: #98986A;
      }
    }
  }
  
}

