.bg-image{
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 80vw;
  padding: 1rem;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.center-content{
  flex-grow: 1;
  color: #98986A;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content{
  flex-grow: 1;
  color: #98986A;
  padding: 1.5rem;
}